
body, html {
    margin: 0;
    font-family:'sans-serif', monospace;;
    background-color: #475C7A;
}

h1 {
    color: #d8737f;
}

h3 {
    color:#fcbb6d;
}

h4 {
    color: #aaccff;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
img.resize {
    max-width:50%;
    max-height:50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}